In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse.linalg import svds

In [5]:

!wget -nc http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
!unzip -n ml-latest-small.zip


movies = pd.read_csv('/content/ml-latest-small/movies.csv')
ratings = pd.read_csv('/content/ml-latest-small/ratings.csv')


print(movies.head())
print(ratings.head())

File ‘ml-latest-small.zip’ already there; not retrieving.

Archive:  ml-latest-small.zip
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:

data = pd.merge(ratings, movies, on='movieId')


print(data.head())


pivot_table = data.pivot_table(index='userId', columns='title', values='rating')


pivot_table.fillna(0, inplace=True)


pivot_table.head()

   userId  movieId  rating   timestamp             title  \
0       1        1     4.0   964982703  Toy Story (1995)
1       5        1     4.0   847434962  Toy Story (1995)
2       7        1     4.5  1106635946  Toy Story (1995)
3      15        1     2.5  1510577970  Toy Story (1995)
4      17        1     4.5  1305696483  Toy Story (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1  Adventure|Animation|Children|Comedy|Fantasy
2  Adventure|Animation|Children|Comedy|Fantasy
3  Adventure|Animation|Children|Comedy|Fantasy
4  Adventure|Animation|Children|Comedy|Fantasy

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:

similarity_matrix = cosine_similarity(pivot_table.T)


similarity_df = pd.DataFrame(similarity_matrix, index=pivot_table.columns, columns=pivot_table.columns)


print(similarity_df.head())

title                                    '71 (2014)  \
title
'71 (2014)                                      1.0
'Hellboy': The Seeds of Creation (2004)         0.0
'Round Midnight (1986)                          0.0
'Salem's Lot (2004)                             0.0
'Til There Was You (1997)                       0.0

title                                    'Hellboy': The Seeds of Creation (2004)  \
title
'71 (2014)                                                              0.000000
'Hellboy': The Seeds of Creation (2004)                                 1.000000
'Round Midnight (1986)                                                  0.707107
'Salem's Lot (2004)                                                     0.000000
'Til There Was You (1997)                                               0.000000

title                                    'Round Midnight (1986)  \
title
'71 (2014)                                             0.000000
'Hellboy': The Seeds of Creation (2004)                0.707107
'Round Midnight (1986)                                 1.000000
'Salem's Lot (2004)                                    0.000000
'Til There Was You (1997)                              0.000000

title                                    'Salem's Lot (2004)  \
title
'71 (2014)                                          0.000000
'Hellboy': The Seeds of Creation (2004)             0.000000
'Round Midnight (1986)                              0.000000
'Salem's Lot (2004)                                 1.000000
'Til There Was You (1997)                           0.857493

title                                    'Til There Was You (1997)  \
title
'71 (2014)                                                0.000000
'Hellboy': The Seeds of Creation (2004)                   0.000000
'Round Midnight (1986)                                    0.000000
'Salem's Lot (2004)                                       0.857493
'Til There Was You (1997)                                 1.000000

title                                    'Tis the Season for Love (2015)  \
title
'71 (2014)                                                           0.0
'Hellboy': The Seeds of Creation (2004)                              0.0
'Round Midnight (1986)                                               0.0
'Salem's Lot (2004)                                                  0.0
'Til There Was You (1997)                                            0.0

title                                    'burbs, The (1989)  \
title
'71 (2014)                                         0.000000
'Hellboy': The Seeds of Creation (2004)            0.000000
'Round Midnight (1986)                             0.176777
'Salem's Lot (2004)                                0.000000
'Til There Was You (1997)                          0.000000

title                                    'night Mother (1986)  \
title
'71 (2014)                                                0.0
'Hellboy': The Seeds of Creation (2004)                   0.0
'Round Midnight (1986)                                    0.0
'Salem's Lot (2004)                                       0.0
'Til There Was You (1997)                                 0.0

title                                    (500) Days of Summer (2009)  \
title
'71 (2014)                                                  0.141653
'Hellboy': The Seeds of Creation (2004)                     0.000000
'Round Midnight (1986)                                      0.000000
'Salem's Lot (2004)                                         0.000000
'Til There Was You (1997)                                   0.000000

title                                    *batteries not included (1987)  ...  \
title                                                                    ...
'71 (2014)                                                          0.0  ...
'Hellboy': The Seeds of Creation (2004)                             0.0  ...
'Round Midnight (1986)                                              0.0  ...
'Salem's Lot (2004)                                                 0.0  ...
'Til There Was You (1997)                                           0.0  ...

title                                    Zulu (2013)  [REC] (2007)  \
title
'71 (2014)                                       0.0      0.342055
'Hellboy': The Seeds of Creation (2004)          0.0      0.000000
'Round Midnight (1986)                           0.0      0.000000
'Salem's Lot (2004)                              0.0      0.000000
'Til There Was You (1997)                        0.0      0.000000

title                                    [REC]² (2009)  \
title
'71 (2014)                                    0.543305
'Hellboy': The Seeds of Creation (2004)       0.000000
'Round Midnight (1986)                        0.000000
'Salem's Lot (2004)                           0.000000
'Til There Was You (1997)                     0.000000

title                                    [REC]³ 3 Génesis (2012)  \
title
'71 (2014)                                              0.707107
'Hellboy': The Seeds of Creation (2004)                 0.000000
'Round Midnight (1986)                                  0.000000
'Salem's Lot (2004)                                     0.000000
'Til There Was You (1997)                               0.000000

title                                    anohana: The Flower We Saw That Day - The Movie (2013)  \
title
'71 (2014)                                                                             0.0
'Hellboy': The Seeds of Creation (2004)                                                0.0
'Round Midnight (1986)                                                                 0.0
'Salem's Lot (2004)                                                                    0.0
'Til There Was You (1997)                                                              0.0

title                                    eXistenZ (1999)  xXx (2002)  \
title
'71 (2014)                                           0.0    0.139431
'Hellboy': The Seeds of Creation (2004)              0.0    0.000000
'Round Midnight (1986)                               0.0    0.000000
'Salem's Lot (2004)                                  0.0    0.000000
'Til There Was You (1997)                            0.0    0.000000

title                                    xXx: State of the Union (2005)  \
title
'71 (2014)                                                     0.327327
'Hellboy': The Seeds of Creation (2004)                        0.000000
'Round Midnight (1986)                                         0.000000
'Salem's Lot (2004)                                            0.000000
'Til There Was You (1997)                                      0.000000

title                                    ¡Three Amigos! (1986)  \
title
'71 (2014)                                                 0.0
'Hellboy': The Seeds of Creation (2004)                    0.0
'Round Midnight (1986)                                     0.0
'Salem's Lot (2004)                                        0.0
'Til There Was You (1997)                                  0.0

title                                    À nous la liberté (Freedom for Us) (1931)
title
'71 (2014)                                                                     0.0
'Hellboy': The Seeds of Creation (2004)                                        0.0
'Round Midnight (1986)                                                         0.0
'Salem's Lot (2004)                                                            0.0
'Til There Was You (1997)                                                      0.0

[5 rows x 9719 columns]

In [11]:
def recommend_movies(movie_title, similarity_df, num_recommendations=5):

    sim_scores = similarity_df[movie_title]


    sim_scores = sim_scores.sort_values(ascending=False)


    recommendations = sim_scores.iloc[1:num_recommendations+1].index

    return recommendations

In [17]:

movie_title = 'Toy Story (1995)'
recommendations = recommend_movies(movie_title, similarity_df, num_recommendations=5)

print(f"Recommendations for '{movie_title}':")
for movie in recommendations:
    print(movie)

Recommendations for 'Toy Story (1995)':
Toy Story 2 (1999)
Jurassic Park (1993)
Independence Day (a.k.a. ID4) (1996)
Star Wars: Episode IV - A New Hope (1977)
Forrest Gump (1994)